<div class="form-group">
        <%= form_for [@board, @pedal] do |p| %>
            Pedal:
                <%= p.label :name %>
                <%= p.text_field :name %>
                <%= p.label :brand %>
                <%= p.text_field :brand %>
                <%= p.label :effect %>
                <%= p.text_field :effect %>
                <br/>
            <% 3.times do %>
                <%= p.fields_for :knobs do |k| %>
                    <%= k.label :name %>
                    <%= k.text_field :name %>
                    <%= k.label :value %>
                    <%= k.text_field :value %>
                <% end %>
            <% end %>

            <%= p.submit "Add this Pedal", class: "btn btn-default" %>
        <% end %>

</div>
