<% @boards.each do |b| %>
    <div class=" container board">
        <h1><%= b.title %> - <%= b.instrument %></h1>
        <h2>By: <%= b.user.name %></h2>
        <iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= b.getSoundCloud(b.audio) %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        <br/>
        <p>Click "Edit" to add the pedals you used on this board</p>
        <%= link_to "Edit", board_path(b), class: "btn btn-default" %>


    <div class="row">
        <% b.pedals.each do |p| %>
        <div class="col-sm-2 pedal">
        <h4>
        <%= p.name %>
        <br/>
        <%= p.brand %>
        <br/>
        <%= p.effect %>
        </h4>
        <br/>
        <% p.knobs.each do |k| %>
        <%= k.name %>
        :
        <%= k.value %>
        <br/>
        <% end %>
         </div>
         <% end %>
    </div>


    </div>
<% end %>
