<div class="form-group">
        <%= form_for @board do |f| %>
            <h3>Give your new board a name</h3>
            <h4><%= f.label :title %></h4>
            <%= f.text_field :title, class: "form-control" %>
            <br/>
            <h3>If you have a SoundCloud sample of this board, put the URL here</h3>
            <h4><%= f.label :audio %></h4>
            <%= f.text_field :audio, class: "form-control" %>
            <br/>
            <h3>What are you playing through this board? Guitar? Bass? Keyboard?</h3>
            <h4><%= f.label :instrument %></h4>
            <%= f.text_field :instrument, class: "form-control" %>
            <div class="text-center">
            <%= f.submit "Create this Board", class: "btn btn-default" %>
            </div>
        <% end %>
</div>



