<h1><%= @board.title %></h1>
<br/>
<div class="text-center">
    <%= link_to "Add a Pedal", new_board_pedal_path(@board), class: 'btn btn-default' %>
    <%= link_to "Delete this Board", @board, method: :delete, class: 'btn btn-default' %>
    </div>
    <div class="container board">
    <div class="grid space">
    <% @board.pedals.each do |pedal| %>
    <%= link_to edit_board_pedal_path(@board, pedal) do %>
    <div class="grid-item pedal">
        <h4 class="pedal_details">
            <%= pedal.name %>
            <br/>
            <%= pedal.brand %>
            <br/>
            <%= pedal.effect %>
            </h4>
        <ul class="list-group">
            <% pedal.knobs.each do |k| %>
            <li class="list-group-item">
            <%= image_tag('knob.png', class: 'knob')%>
            <%= k.name %>
            :
            <%= k.value %>
            </li>
            <% end %>
            </ul>
    </div>
    <% end %>
    <% end %>
</div>
</div>